In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect("chinook.db")

In [3]:
crsr=connection.cursor()

In [4]:
crsr.execute("select firstname, company, firstname '|| company||' from customers")

In [5]:
crsr.fetchall()

[('Luís', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Luís'),
 ('Leonie', None, 'Leonie'),
 ('François', None, 'François'),
 ('Bjørn', None, 'Bjørn'),
 ('František', 'JetBrains s.r.o.', 'František'),
 ('Helena', None, 'Helena'),
 ('Astrid', None, 'Astrid'),
 ('Daan', None, 'Daan'),
 ('Kara', None, 'Kara'),
 ('Eduardo', 'Woodstock Discos', 'Eduardo'),
 ('Alexandre', 'Banco do Brasil S.A.', 'Alexandre'),
 ('Roberto', 'Riotur', 'Roberto'),
 ('Fernanda', None, 'Fernanda'),
 ('Mark', 'Telus', 'Mark'),
 ('Jennifer', 'Rogers Canada', 'Jennifer'),
 ('Frank', 'Google Inc.', 'Frank'),
 ('Jack', 'Microsoft Corporation', 'Jack'),
 ('Michelle', None, 'Michelle'),
 ('Tim', 'Apple Inc.', 'Tim'),
 ('Dan', None, 'Dan'),
 ('Kathy', None, 'Kathy'),
 ('Heather', None, 'Heather'),
 ('John', None, 'John'),
 ('Frank', None, 'Frank'),
 ('Victor', None, 'Victor'),
 ('Richard', None, 'Richard'),
 ('Patrick', None, 'Patrick'),
 ('Julia', None, 'Julia'),
 ('Robert', None, 'Robert'),
 ('Edward', None, 'Edward'),
 ('Martha', None, 'Martha'),
 ('Aaron', None, 'Aaron'),
 ('Ellie', None, 'Ellie'),
 ('João', None, 'João'),
 ('Madalena', None, 'Madalena'),
 ('Hannah', None, 'Hannah'),
 ('Fynn', None, 'Fynn'),
 ('Niklas', None, 'Niklas'),
 ('Camille', None, 'Camille'),
 ('Dominique', None, 'Dominique'),
 ('Marc', None, 'Marc'),
 ('Wyatt', None, 'Wyatt'),
 ('Isabelle', None, 'Isabelle'),
 ('Terhi', None, 'Terhi'),
 ('Ladislav', None, 'Ladislav'),
 ('Hugh', None, 'Hugh'),
 ('Lucas', None, 'Lucas'),
 ('Johannes', None, 'Johannes'),
 ('Stanisław', None, 'Stanisław'),
 ('Enrique', None, 'Enrique'),
 ('Joakim', None, 'Joakim'),
 ('Emma', None, 'Emma'),
 ('Phil', None, 'Phil'),
 ('Steve', None, 'Steve'),
 ('Mark', None, 'Mark'),
 ('Diego', None, 'Diego'),
 ('Luis', None, 'Luis'),
 ('Manoj', None, 'Manoj'),
 ('Puja', None, 'Puja')]

In [6]:
crsr.execute("select firstname, substr(firstname,2,3) from customers")

In [7]:
crsr.fetchall()

[('Luís', 'uís'),
 ('Leonie', 'eon'),
 ('François', 'ran'),
 ('Bjørn', 'jør'),
 ('František', 'ran'),
 ('Helena', 'ele'),
 ('Astrid', 'str'),
 ('Daan', 'aan'),
 ('Kara', 'ara'),
 ('Eduardo', 'dua'),
 ('Alexandre', 'lex'),
 ('Roberto', 'obe'),
 ('Fernanda', 'ern'),
 ('Mark', 'ark'),
 ('Jennifer', 'enn'),
 ('Frank', 'ran'),
 ('Jack', 'ack'),
 ('Michelle', 'ich'),
 ('Tim', 'im'),
 ('Dan', 'an'),
 ('Kathy', 'ath'),
 ('Heather', 'eat'),
 ('John', 'ohn'),
 ('Frank', 'ran'),
 ('Victor', 'ict'),
 ('Richard', 'ich'),
 ('Patrick', 'atr'),
 ('Julia', 'uli'),
 ('Robert', 'obe'),
 ('Edward', 'dwa'),
 ('Martha', 'art'),
 ('Aaron', 'aro'),
 ('Ellie', 'lli'),
 ('João', 'oão'),
 ('Madalena', 'ada'),
 ('Hannah', 'ann'),
 ('Fynn', 'ynn'),
 ('Niklas', 'ikl'),
 ('Camille', 'ami'),
 ('Dominique', 'omi'),
 ('Marc', 'arc'),
 ('Wyatt', 'yat'),
 ('Isabelle', 'sab'),
 ('Terhi', 'erh'),
 ('Ladislav', 'adi'),
 ('Hugh', 'ugh'),
 ('Lucas', 'uca'),
 ('Johannes', 'oha'),
 ('Stanisław', 'tan'),
 ('Enrique', 'nri'),
 ('Joakim', 'oak'),
 ('Emma', 'mma'),
 ('Phil', 'hil'),
 ('Steve', 'tev'),
 ('Mark', 'ark'),
 ('Diego', 'ieg'),
 ('Luis', 'uis'),
 ('Manoj', 'ano'),
 ('Puja', 'uja')]

In [9]:
crsr.execute("select birthdate from employees")

In [10]:
crsr.fetchall()

[('1962-02-18 00:00:00',),
 ('1958-12-08 00:00:00',),
 ('1973-08-29 00:00:00',),
 ('1947-09-19 00:00:00',),
 ('1965-03-03 00:00:00',),
 ('1973-07-01 00:00:00',),
 ('1970-05-29 00:00:00',),
 ('1968-01-09 00:00:00',)]

In [17]:
crsr.execute("select strftime('%d', Birthdate) as Day, strftime('%m', Birthdate) as Month, strftime('%Y', Birthdate) as Year from employees")

In [18]:
crsr.fetchall()

[('18', '02', '1962'),
 ('08', '12', '1958'),
 ('29', '08', '1973'),
 ('19', '09', '1947'),
 ('03', '03', '1965'),
 ('01', '07', '1973'),
 ('29', '05', '1970'),
 ('09', '01', '1968')]

In [20]:
crsr.execute("select date('now')")

In [21]:
crsr.fetchall()

[('2020-07-07',)]

In [27]:
crsr.execute("select strftime('%d-%m-%Y', 'now')")

In [28]:
crsr.fetchall()

[('07-07-2020',)]

In [29]:
crsr.execute("select strftime('%H %M %S %s', 'now')")

In [30]:
crsr.fetchall()

[('07 55 10 1594108510',)]

In [41]:
crsr.execute("select birthdate, strftime('%Y', birthdate) as Year, strftime('%m', birthdate) as Month, strftime('%d', birthdate) as Day, date(('now') - (birthdate)) as Age from employees")

In [42]:
crsr.fetchall()

[('1962-02-18 00:00:00', '1962', '02', '18', None),
 ('1958-12-08 00:00:00', '1958', '12', '08', None),
 ('1973-08-29 00:00:00', '1973', '08', '29', None),
 ('1947-09-19 00:00:00', '1947', '09', '19', None),
 ('1965-03-03 00:00:00', '1965', '03', '03', None),
 ('1973-07-01 00:00:00', '1973', '07', '01', None),
 ('1970-05-29 00:00:00', '1970', '05', '29', None),
 ('1968-01-09 00:00:00', '1968', '01', '09', None)]